@font-face {
    font-family: 'Genericons';
    src: url("font/genericons-regular-webfont.eot");
    src: url("font/genericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/genericons-regular-webfont.woff") format("woff"), url("font/genericons-regular-webfont.ttf") format("truetype"), url("font/genericons-regular-webfont.svg#genericonsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
      font-family: 'social';
      src: url('font/social.eot?84036446');
      src: url('font/social.eot?84036446#iefix') format('embedded-opentype'),
           url('font/social.woff?84036446') format('woff'),
           url('font/social.ttf?84036446') format('truetype'),
           url('font/social.svg?84036446#social') format('svg');
      font-weight: normal;
      font-style: normal;
    }

    @mixin viewport-unit($property, $value) {
      #{$property}: $value;

      $unit: unit($value);

      @if (index((vw, vh, vmin, vmax), $unit) != null) {
        $devices: (
          (768px, 1024px), // iPad (all versions)
          (320px, 480px),  // iPhone 4
          (320px, 568px)   // iPhone 5, 5C, 5S
        );

        @each $device in $devices {
          $device-width: nth($device, 1);
          $device-height: nth($device, 2);

          $device-query: "only screen and (-webkit-min-device-pixel-ratio: 1)";
          $device-query: "#{$device-query} and (device-width: #{$device-width})";
          $device-query: "#{$device-query} and (device-height: #{$device-height})";

          $percent: $value / ($value * 0 + 1); // see https://github.com/sass/sass/issues/533

          $percent-width: $device-width * $percent / 100;
          $percent-height: $device-height * $percent / 100;

          @if ($unit == vmin or $unit == vmax) {
            @media #{$device-query} {
              #{$property}: if($unit == vmin, $percent-width, $percent-height);
            }
          }
          @else {
            @media #{$device-query} and (orientation: portrait) {
              #{$property}: if($unit == vw, $percent-width, $percent-height);
            }

            @media #{$device-query} and (orientation: landscape) {
              #{$property}: if($unit == vw, $percent-height, $percent-width);
            }
          }
        }
      }
    }

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.25;
}

h1 {
    display: block;
    color: #373B44;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
}

p {
    color: #C3CAD9;
    font-weight: 500;
    text-align: center;
}

a {
    position: relative;
    color: #373B44;
    font-weight: 700;
    &:hover {
        opacity: 0.8;
    }
    &:active {
        top: 1px;
    }
}

// Also may or may not need
section {
    display: table;
    width: 100%;
    @include viewport-unit(height, 75vh);
    max-width: none;
    padding: 0 7%;
    margin: 0;
    background-color: white;
}

.intro-background {
    position: absolute;
    display: block;
    width: 100%;
    @include viewport-unit(height, 75vh);
    left: 0;
    top: 0;
    background-image: url(../../img/cover.jpg);
    background-size: cover;
}

.intro-background:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: hsla(0, 0%, 0%, 0.7);
}

.intro {
    h1 {
        font-family: 'Pacifico', cursive;
        color: white;
        font-size: 2.5em;
    }
    p {
      span {
          padding: 0 1%;
          font-size: 1.5em;
          @include transition(color, 0.5s, ease);
          &:hover {
              color: #C3CAD9;
          }
      }
    }
    .restaurant-socialIcon a{
        color: white;
        text-decoration: none;
    }
    .logo {
        position: absolute;
        width: 20%;
        height: 20%;
        @include viewport-unit(top, 20vh);
        left: 40%;
        background-image: url(../../img/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

nav {
    position: absolute;
    top: 7%;
    width: 100%;
    margin-left: 3%;
    font-weight: 500;
    text-align: right;
    a {
        padding-right: 2%;
        color: white;
        font-size: 0.5em;
        text-decoration: none;
        @include transition(color, 0.5s, ease);
        &:hover {
            color: #C3CAD9;
        }
    }
}

.about {
    @include viewport-unit(height, 80vh);
    @include viewport-unit(padding-top, 20vh);
    @include viewport-unit(padding-bottom, 80vh);
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    @media (max-width: 650px) {
      @include viewport-unit(padding-top, 20vh);
      @include viewport-unit(padding-bottom, 180vh);
      padding-left: 10%;
      padding-right: 10%;
    }
    hr {
      width: 80%;
      border: 1px solid #373B44;
    }
    .about-logo {
      position: absolute;
      font-size: 4em;
      color: #373B44;
      text-align: left;
    }
    .quote-logo {
      position: absolute;
      right: 0;
      font-size: 3em;
      color: #373B44;
      @include viewport-unit(margin-top, 10vh);
      text-align: right;
    }
    .restaurant-slogan {
      color: #373B44;
      text-align: left;
      width: 75%;
      font-weight: 700;
      margin-left: 12%;
    }
    #bio {
        @include viewport-unit(padding-bottom, 5vh);
        padding: 0 0 5vh 0;
        p {
            width: 75%;
            color: #373B44;
            font-size: 0.5em;
            text-align: left;
            margin-left: 12%;
        }
    }
    .collage {
      position: absolute;
      background-size: cover;
    }
    .photo-break {
      @include viewport-unit(margin-bottom, 15vh);
    }
    .photo-1 {
      width: 49%;
      @include viewport-unit(height, 80vh);
      background-image: url(../../img/circleA.jpg);
    }
    .photo-2 {
      width: 50%;
      @include viewport-unit(height, 39vh);
      margin-left: 50%;
      background-image: url(../../img/circleB.jpg);
    }
    .photo-3 {
      width: 24%;
      @include viewport-unit(height, 40vh);
      margin-left: 50%;
      @include viewport-unit(margin-top, 40vh);
      background-image: url(../../img/circleC.jpg);
    }
    .photo-4 {
      width: 25%;
      @include viewport-unit(height, 40vh);
      margin-left: 75%;
      @include viewport-unit(margin-top, 40vh);
      background-image: url(../../img/circleD.jpg);
    }
    .quote-text {
        font-weight: 700;
        text-align: right;
        color: #373B44;
        @include viewport-unit(padding-top, 10vh);
        margin-right: 12%;
        word-wrap: break-word;
    }
    .quote-citation {
        color: #373B44;
        font-size: 0.5em;
        text-align: right;
        margin-right: 12%;
    }
    .quote-link {
        p {
            color: #373B44;
            font-size: 0.4em;
            text-align: right;
            @include viewport-unit(margin-bottom, 10vh);
            margin-right: 12%;
            @include transition(color, 0.5s, ease);
            &:hover {
                color: #C3CAD9;
            }
        }
    }
    @media (max-width: 650px) {
      .about-logo {
        position: relative;
      }
      .quote-logo {
        margin-top: 0;
      }
      .restaurant-slogan {
        margin-left: 0;
      }
      #bio {
        p {
          margin-left: 0;
        }
      }
      .quote-text {
        margin-right: 0;
      }
      .quote-citation {
        margin-right: 0;
      }
      .quote-link {
        p {
          margin-right: 0;
        }
      }
      .collage {
        position: absolute;
        background-size: cover;
      }
      .photo-1 {
        width: 100%;
        @include viewport-unit(height, 59vh);
      }
      .photo-2 {
        width: 49%;
        @include viewport-unit(height, 50vh);
        @include viewport-unit(margin-top, 60vh);
        margin-left: 0;
      }
      .photo-3 {
        width: 49%;
        @include viewport-unit(height, 50vh);
        margin-left: 51%;
        @include viewport-unit(margin-top, 60vh);
      }
      .photo-4 {
        width: 100%;
        @include viewport-unit(height, 60vh);
        @include viewport-unit(margin-top, 111vh);
        margin-left: 0;
      }
    }
}

.location{
  @include viewport-unit(height, 80vh);
  padding: 0 10% 0 10%;
  background-color: white;
  p {
      color: #373B44;
      font-size: 0.5em;
  }
  hr {
    width: 100%;
    border: 1px solid #373B44;
  }
  .AD-0 {

  }
  .AD-1 {
    display: none;
  }
  .AD-2 {
    display: none;
  }
  .AD-3 {
    display: none;
  }
  .AD-4 {
    display: none;
  }
  .AD-5 {
    display: none;
  }
  .AD-6 {
    display: none;
  }
  .AD-7 {
    display: none;
  }
  .AD-8 {
    display: none;
  }
  .AD-9 {
    display: none;
  }
  .tripple-icons {
      span {
        float: left;
        font-size: 2em;
        color: #373B44;
        width: 33.33%;
      }
  }
  .tripple-header {
    h1 {
      float: left;
      width: 33.33%;
      font-weight: 700;
    }
  }
  .tripple-content {
    .contact-column {
      float: left;
      width: 33.33%;
      @media (max-width: 650px) {
          p {
            word-break: break-all;
          }
      }
    }
    .location-column {
      float: left;
      width: 33.33%;
    }
    .hours-column {
      float: left;
      width: 33.33%;
    }
    #location-info div {
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        height: auto;
        margin: 5% 0% 5% 5%;
    }
  }
}

.location-map {
    padding: 0;
    @include viewport-unit(height, 60vh);
}

.menu {
    .genericon {
      font-size: 2em;
    }
    #menu-info #menu-info-container {
        position: relative;
        width: 80%;
        height: auto;
        padding: 0 5%;
        margin: 5% 0% 5% 10%;
        hr {
          border: 1px solid #373B44;
        }
        h1 {
          color: #373B44;
          font-weight: 700;
        }
        h3 {
            color: #373B44;
            font-size: 0.5em;
            text-align: left;
            margin-top: 2%;
            margin-bottom: -2%;
            span {
                font-size: 0.75em;
            }
        }
        p {
            color: #373B44;
            font-size: 0.5em;
            text-align: left;
        }
        a,
        a p {
            color: #1E824C;
        }
        .menu-brief{
            text-align: center;
        }
        .legend {
            font-size: 0.35em;
            text-align: center;

        }

        .menu-category {
            padding-top: 2%;
            font-size: 0.75em;

            &:empty {
             display: inline;
            }
        }
    }
}

.menu-background {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background: hsla(0, 0%, 0%, 0.7);
}

.social {
    @include viewport-unit(height, 90vh);
    background-color: white;
    padding-top: 5%;
    hr {
      width: 117%;
      margin-left: -9%;
      @include viewport-unit(margin-bottom, 10vh);
      border: 1px solid #373B44;
    }
}

.divider {
    @include viewport-unit(height, 1vh);
    background-color: #C3CAD9;
}

.content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    #map, #location-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.contact-form {
    width: 80%;
    @include viewport-unit(height, 60vh);
    padding: 0 1%;
    margin-left: 10%;
    background-color: white;
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
        -webkit-text-fill-color: #C3CAD9 !important;
        &:focus {
            -webkit-text-fill-color: #373B44 !important;
        }
    }
    input {
        color: #C3CAD9;
        &:focus {
            color: #373B44;
        }
    }
    textarea {
        color: #C3CAD9;
        &:focus {
            color: #373B44;
        }
    }
}

.contact-input {
    width: 100%;
    @include viewport-unit(height, 5vh);
    border: 2px solid #373B44;
    font-size: 0.5em;
    @include transition(border-color, 0.5s, ease);
    &:focus {
        border-color: #C3CAD9;
    }
}

.contact-textarea {
    width: 100%;
    @include viewport-unit(height, 20vh);
    border: 2px solid #373B44;
    @include viewport-unit(margin-top, 2vh);
    @include transition(border-color, 0.5s, ease);
    &:focus {
        border-color: #C3CAD9;
    }
}

.contact-submit {
    width: 100%;
    @include viewport-unit(height, 5vh);
    color: white;
    border: none;
    background-color: #373B44;
    font-size: 0.5em;
    @include transition(background-color, 0.5s, ease);
    &:hover {
        background-color: #C3CAD9;
    }
}

footer {
    @include viewport-unit(height, 20vh);
    padding: 1% 5%;
    background-color: #373B44;
    color: white;
    a {
        color: white;
        text-decoration: none;
    }
    p {
        font-size: 0.5em;
        span {
            padding: 0 1%;
        }
    }
}
