@font-face {
  font-family: 'Genericons';
  src: url("font/genericons-regular-webfont.eot");
  src: url("font/genericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/genericons-regular-webfont.woff") format("woff"), url("font/genericons-regular-webfont.ttf") format("truetype"), url("font/genericons-regular-webfont.svg#genericonsregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'social';
  src: url("font/social.eot?84036446");
  src: url("font/social.eot?84036446#iefix") format("embedded-opentype"), url("font/social.woff?84036446") format("woff"), url("font/social.ttf?84036446") format("truetype"), url("font/social.svg?84036446#social") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.25; }

h1 {
  display: block;
  color: #373B44;
  font-size: 1em;
  font-weight: 300;
  text-align: center; }

p {
  color: #C3CAD9;
  font-weight: 500;
  text-align: center; }

a {
  position: relative;
  color: #373B44;
  font-weight: 700; }
  a:hover {
    opacity: 0.8; }
  a:active {
    top: 1px; }

section {
  display: table;
  width: 100%;
  height: 75vh;
  max-width: none;
  padding: 0 7%;
  margin: 0;
  background-color: white; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    section {
      height: 768px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    section {
      height: 576px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    section {
      height: 360px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    section {
      height: 240px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    section {
      height: 426px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    section {
      height: 240px; } }

.intro-background {
  position: absolute;
  display: block;
  width: 100%;
  height: 75vh;
  left: 0;
  top: 0;
  background-image: url(../../img/cover.jpg);
  background-size: cover; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .intro-background {
      height: 768px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .intro-background {
      height: 576px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .intro-background {
      height: 360px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .intro-background {
      height: 240px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .intro-background {
      height: 426px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .intro-background {
      height: 240px; } }

.intro-background:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7); }

.intro h1 {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 2.5em; }
.intro p span {
  padding: 0 1%;
  font-size: 1.5em;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }
  .intro p span:hover {
    color: #C3CAD9; }
.intro .restaurant-socialIcon a {
  color: white;
  text-decoration: none; }
.intro .logo {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 20vh;
  left: 40%;
  background-image: url(../../img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .intro .logo {
      top: 204.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .intro .logo {
      top: 153.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .intro .logo {
      top: 96px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .intro .logo {
      top: 64px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .intro .logo {
      top: 113.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .intro .logo {
      top: 64px; } }

nav {
  position: absolute;
  top: 7%;
  width: 100%;
  margin-left: 3%;
  font-weight: 500;
  text-align: right; }
  nav a {
    padding-right: 2%;
    color: white;
    font-size: 0.5em;
    text-decoration: none;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease; }
    nav a:hover {
      color: #C3CAD9; }

.about {
  height: 80vh;
  padding-top: 20vh;
  padding-bottom: 80vh;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .about {
      height: 819.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .about {
      height: 614.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .about {
      height: 384px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .about {
      height: 256px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .about {
      height: 454.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .about {
      height: 256px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .about {
      padding-top: 204.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .about {
      padding-top: 153.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .about {
      padding-top: 96px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .about {
      padding-top: 64px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .about {
      padding-top: 113.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .about {
      padding-top: 64px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .about {
      padding-bottom: 819.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .about {
      padding-bottom: 614.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .about {
      padding-bottom: 384px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .about {
      padding-bottom: 256px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .about {
      padding-bottom: 454.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .about {
      padding-bottom: 256px; } }
  @media (max-width: 650px) {
    .about {
      padding-top: 20vh;
      padding-bottom: 180vh;
      padding-left: 10%;
      padding-right: 10%; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .about {
      padding-top: 204.8px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .about {
      padding-top: 153.6px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .about {
      padding-top: 96px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .about {
      padding-top: 64px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .about {
      padding-top: 113.6px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .about {
      padding-top: 64px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .about {
      padding-bottom: 1843.2px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .about {
      padding-bottom: 1382.4px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .about {
      padding-bottom: 864px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .about {
      padding-bottom: 576px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .about {
      padding-bottom: 1022.4px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .about {
      padding-bottom: 576px; } }

  .about hr {
    width: 80%;
    border: 1px solid #373B44; }
  .about .about-logo {
    position: absolute;
    font-size: 4em;
    color: #373B44;
    text-align: left; }
  .about .quote-logo {
    position: absolute;
    right: 0;
    font-size: 3em;
    color: #373B44;
    margin-top: 10vh;
    text-align: right; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .about .quote-logo {
        margin-top: 102.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .about .quote-logo {
        margin-top: 76.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .about .quote-logo {
        margin-top: 48px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .about .quote-logo {
        margin-top: 32px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .about .quote-logo {
        margin-top: 56.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .about .quote-logo {
        margin-top: 32px; } }
  .about .restaurant-slogan {
    color: #373B44;
    text-align: left;
    width: 75%;
    font-weight: 700;
    margin-left: 12%; }
  .about #bio {
    padding-bottom: 5vh;
    padding: 0 0 5vh 0; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .about #bio {
        padding-bottom: 51.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .about #bio {
        padding-bottom: 38.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .about #bio {
        padding-bottom: 24px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .about #bio {
        padding-bottom: 16px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .about #bio {
        padding-bottom: 28.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .about #bio {
        padding-bottom: 16px; } }
    .about #bio p {
      width: 75%;
      color: #373B44;
      font-size: 0.5em;
      text-align: left;
      margin-left: 12%; }
  .about .collage {
    position: absolute;
    background-size: cover; }
  .about .photo-break {
    margin-bottom: 15vh; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .about .photo-break {
        margin-bottom: 153.6px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .about .photo-break {
        margin-bottom: 115.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .about .photo-break {
        margin-bottom: 72px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .about .photo-break {
        margin-bottom: 48px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .about .photo-break {
        margin-bottom: 85.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .about .photo-break {
        margin-bottom: 48px; } }
  .about .photo-1 {
    width: 49%;
    height: 80vh;
    background-image: url(../../img/circleA.jpg); }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .about .photo-1 {
        height: 819.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .about .photo-1 {
        height: 614.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .about .photo-1 {
        height: 384px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .about .photo-1 {
        height: 256px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .about .photo-1 {
        height: 454.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .about .photo-1 {
        height: 256px; } }
  .about .photo-2 {
    width: 50%;
    height: 39vh;
    margin-left: 50%;
    background-image: url(../../img/circleB.jpg); }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .about .photo-2 {
        height: 399.36px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .about .photo-2 {
        height: 299.52px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .about .photo-2 {
        height: 187.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .about .photo-2 {
        height: 124.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .about .photo-2 {
        height: 221.52px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .about .photo-2 {
        height: 124.8px; } }
  .about .photo-3 {
    width: 24%;
    height: 40vh;
    margin-left: 50%;
    margin-top: 40vh;
    background-image: url(../../img/circleC.jpg); }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .about .photo-3 {
        height: 409.6px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .about .photo-3 {
        height: 307.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .about .photo-3 {
        height: 192px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .about .photo-3 {
        height: 128px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .about .photo-3 {
        height: 227.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .about .photo-3 {
        height: 128px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .about .photo-3 {
        margin-top: 409.6px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .about .photo-3 {
        margin-top: 307.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .about .photo-3 {
        margin-top: 192px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .about .photo-3 {
        margin-top: 128px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .about .photo-3 {
        margin-top: 227.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .about .photo-3 {
        margin-top: 128px; } }
  .about .photo-4 {
    width: 25%;
    height: 40vh;
    margin-left: 75%;
    margin-top: 40vh;
    background-image: url(../../img/circleD.jpg); }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .about .photo-4 {
        height: 409.6px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .about .photo-4 {
        height: 307.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .about .photo-4 {
        height: 192px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .about .photo-4 {
        height: 128px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .about .photo-4 {
        height: 227.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .about .photo-4 {
        height: 128px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .about .photo-4 {
        margin-top: 409.6px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .about .photo-4 {
        margin-top: 307.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .about .photo-4 {
        margin-top: 192px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .about .photo-4 {
        margin-top: 128px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .about .photo-4 {
        margin-top: 227.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .about .photo-4 {
        margin-top: 128px; } }
  .about .quote-text {
    font-weight: 700;
    text-align: right;
    color: #373B44;
    padding-top: 10vh;
    margin-right: 12%;
    word-wrap: break-word; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .about .quote-text {
        padding-top: 102.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .about .quote-text {
        padding-top: 76.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .about .quote-text {
        padding-top: 48px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .about .quote-text {
        padding-top: 32px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .about .quote-text {
        padding-top: 56.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .about .quote-text {
        padding-top: 32px; } }
  .about .quote-citation {
    color: #373B44;
    font-size: 0.5em;
    text-align: right;
    margin-right: 12%; }
  .about .quote-link p {
    color: #373B44;
    font-size: 0.4em;
    text-align: right;
    margin-bottom: 10vh;
    margin-right: 12%;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .about .quote-link p {
        margin-bottom: 102.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .about .quote-link p {
        margin-bottom: 76.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .about .quote-link p {
        margin-bottom: 48px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .about .quote-link p {
        margin-bottom: 32px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .about .quote-link p {
        margin-bottom: 56.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .about .quote-link p {
        margin-bottom: 32px; } }
    .about .quote-link p:hover {
      color: #C3CAD9; }
  @media (max-width: 650px) {
    .about .about-logo {
      position: relative; }
    .about .quote-logo {
      margin-top: 0; }
    .about .restaurant-slogan {
      margin-left: 0; }
    .about #bio p {
      margin-left: 0; }
    .about .quote-text {
      margin-right: 0; }
    .about .quote-citation {
      margin-right: 0; }
    .about .quote-link p {
      margin-right: 0; }
    .about .collage {
      position: absolute;
      background-size: cover; }
    .about .photo-1 {
      width: 100%;
      height: 59vh; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .about .photo-1 {
      height: 604.16px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .about .photo-1 {
      height: 453.12px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .about .photo-1 {
      height: 283.2px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .about .photo-1 {
      height: 188.8px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .about .photo-1 {
      height: 335.12px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .about .photo-1 {
      height: 188.8px; } }
  @media (max-width: 650px) {
    .about .photo-2 {
      width: 49%;
      height: 50vh;
      margin-top: 60vh;
      margin-left: 0; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .about .photo-2 {
      height: 512px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .about .photo-2 {
      height: 384px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .about .photo-2 {
      height: 240px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .about .photo-2 {
      height: 160px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .about .photo-2 {
      height: 284px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .about .photo-2 {
      height: 160px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .about .photo-2 {
      margin-top: 614.4px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .about .photo-2 {
      margin-top: 460.8px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .about .photo-2 {
      margin-top: 288px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .about .photo-2 {
      margin-top: 192px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .about .photo-2 {
      margin-top: 340.8px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .about .photo-2 {
      margin-top: 192px; } }
  @media (max-width: 650px) {
    .about .photo-3 {
      width: 49%;
      height: 50vh;
      margin-left: 51%;
      margin-top: 60vh; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .about .photo-3 {
      height: 512px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .about .photo-3 {
      height: 384px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .about .photo-3 {
      height: 240px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .about .photo-3 {
      height: 160px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .about .photo-3 {
      height: 284px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .about .photo-3 {
      height: 160px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .about .photo-3 {
      margin-top: 614.4px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .about .photo-3 {
      margin-top: 460.8px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .about .photo-3 {
      margin-top: 288px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .about .photo-3 {
      margin-top: 192px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .about .photo-3 {
      margin-top: 340.8px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .about .photo-3 {
      margin-top: 192px; } }
  @media (max-width: 650px) {
    .about .photo-4 {
      width: 100%;
      height: 60vh;
      margin-top: 111vh;
      margin-left: 0; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .about .photo-4 {
      height: 614.4px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .about .photo-4 {
      height: 460.8px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .about .photo-4 {
      height: 288px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .about .photo-4 {
      height: 192px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .about .photo-4 {
      height: 340.8px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .about .photo-4 {
      height: 192px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .about .photo-4 {
      margin-top: 1136.64px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .about .photo-4 {
      margin-top: 852.48px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .about .photo-4 {
      margin-top: 532.8px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .about .photo-4 {
      margin-top: 355.2px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .about .photo-4 {
      margin-top: 630.48px; } }
  @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .about .photo-4 {
      margin-top: 355.2px; } }

.location {
  height: 80vh;
  padding: 0 10% 0 10%;
  background-color: white; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .location {
      height: 819.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .location {
      height: 614.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .location {
      height: 384px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .location {
      height: 256px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .location {
      height: 454.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .location {
      height: 256px; } }
  .location p {
    color: #373B44;
    font-size: 0.5em; }
  .location hr {
    width: 100%;
    border: 1px solid #373B44; }
  .location .AD-1 {
    display: none; }
  .location .AD-2 {
    display: none; }
  .location .AD-3 {
    display: none; }
  .location .AD-4 {
    display: none; }
  .location .AD-5 {
    display: none; }
  .location .AD-6 {
    display: none; }
  .location .AD-7 {
    display: none; }
  .location .AD-8 {
    display: none; }
  .location .AD-9 {
    display: none; }
  .location .tripple-icons span {
    float: left;
    font-size: 2em;
    color: #373B44;
    width: 33.33%; }
  .location .tripple-header h1 {
    float: left;
    width: 33.33%;
    font-weight: 700; }
  .location .tripple-content .contact-column {
    float: left;
    width: 33.33%; }
    @media (max-width: 650px) {
      .location .tripple-content .contact-column p {
        word-break: break-all; } }
  .location .tripple-content .location-column {
    float: left;
    width: 33.33%; }
  .location .tripple-content .hours-column {
    float: left;
    width: 33.33%; }
  .location .tripple-content #location-info div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: auto;
    margin: 5% 0% 5% 5%; }

.location-map {
  padding: 0;
  height: 60vh; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .location-map {
      height: 614.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .location-map {
      height: 460.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .location-map {
      height: 288px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .location-map {
      height: 192px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .location-map {
      height: 340.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .location-map {
      height: 192px; } }

.menu .genericon {
  font-size: 2em; }
.menu #menu-info #menu-info-container {
  position: relative;
  width: 80%;
  height: auto;
  padding: 0 5%;
  margin: 5% 0% 5% 10%; }
  .menu #menu-info #menu-info-container hr {
    border: 1px solid #373B44; }
  .menu #menu-info #menu-info-container h1 {
    color: #373B44;
    font-weight: 700; }
  .menu #menu-info #menu-info-container h3 {
    color: #373B44;
    font-size: 0.5em;
    text-align: left;
    margin-top: 2%;
    margin-bottom: -2%; }
    .menu #menu-info #menu-info-container h3 span {
      font-size: 0.75em; }
  .menu #menu-info #menu-info-container p {
    color: #373B44;
    font-size: 0.5em;
    text-align: left; }
  .menu #menu-info #menu-info-container a,
  .menu #menu-info #menu-info-container a p {
    color: #1E824C; }
  .menu #menu-info #menu-info-container .menu-brief {
    text-align: center; }
  .menu #menu-info #menu-info-container .legend {
    font-size: 0.35em;
    text-align: center; }
  .menu #menu-info #menu-info-container .menu-category {
    padding-top: 2%;
    font-size: 0.75em; }
    .menu #menu-info #menu-info-container .menu-category:empty {
      display: inline; }

.menu-background {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.7); }

.social {
  height: 90vh;
  background-color: white;
  padding-top: 5%; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .social {
      height: 921.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .social {
      height: 691.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .social {
      height: 432px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .social {
      height: 288px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .social {
      height: 511.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .social {
      height: 288px; } }
  .social hr {
    width: 117%;
    margin-left: -9%;
    margin-bottom: 10vh;
    border: 1px solid #373B44; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .social hr {
        margin-bottom: 102.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .social hr {
        margin-bottom: 76.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .social hr {
        margin-bottom: 48px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .social hr {
        margin-bottom: 32px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .social hr {
        margin-bottom: 56.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .social hr {
        margin-bottom: 32px; } }

.divider {
  height: 1vh;
  background-color: #C3CAD9; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .divider {
      height: 10.24px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .divider {
      height: 7.68px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .divider {
      height: 4.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .divider {
      height: 3.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .divider {
      height: 5.68px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .divider {
      height: 3.2px; } }

.content {
  position: relative;
  display: table-cell;
  vertical-align: middle; }
  .content #map, .content #location-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.contact-form {
  width: 80%;
  height: 60vh;
  padding: 0 1%;
  margin-left: 10%;
  background-color: white; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .contact-form {
      height: 614.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .contact-form {
      height: 460.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .contact-form {
      height: 288px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .contact-form {
      height: 192px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .contact-form {
      height: 340.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .contact-form {
      height: 192px; } }
  .contact-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #C3CAD9 !important; }
    .contact-form input:-webkit-autofill:focus {
      -webkit-text-fill-color: #373B44 !important; }
  .contact-form input {
    color: #C3CAD9; }
    .contact-form input:focus {
      color: #373B44; }
  .contact-form textarea {
    color: #C3CAD9; }
    .contact-form textarea:focus {
      color: #373B44; }

.contact-input {
  width: 100%;
  height: 5vh;
  border: 2px solid #373B44;
  font-size: 0.5em;
  -webkit-transition: border-color 0.5s ease;
  -moz-transition: border-color 0.5s ease;
  -ms-transition: border-color 0.5s ease;
  -o-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .contact-input {
      height: 51.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .contact-input {
      height: 38.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .contact-input {
      height: 24px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .contact-input {
      height: 16px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .contact-input {
      height: 28.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .contact-input {
      height: 16px; } }
  .contact-input:focus {
    border-color: #C3CAD9; }

.contact-textarea {
  width: 100%;
  height: 20vh;
  border: 2px solid #373B44;
  margin-top: 2vh;
  -webkit-transition: border-color 0.5s ease;
  -moz-transition: border-color 0.5s ease;
  -ms-transition: border-color 0.5s ease;
  -o-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .contact-textarea {
      height: 204.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .contact-textarea {
      height: 153.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .contact-textarea {
      height: 96px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .contact-textarea {
      height: 64px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .contact-textarea {
      height: 113.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .contact-textarea {
      height: 64px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .contact-textarea {
      margin-top: 20.48px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .contact-textarea {
      margin-top: 15.36px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .contact-textarea {
      margin-top: 9.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .contact-textarea {
      margin-top: 6.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .contact-textarea {
      margin-top: 11.36px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .contact-textarea {
      margin-top: 6.4px; } }
  .contact-textarea:focus {
    border-color: #C3CAD9; }

.contact-submit {
  width: 100%;
  height: 5vh;
  color: white;
  border: none;
  background-color: #373B44;
  font-size: 0.5em;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .contact-submit {
      height: 51.2px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .contact-submit {
      height: 38.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .contact-submit {
      height: 24px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .contact-submit {
      height: 16px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .contact-submit {
      height: 28.4px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .contact-submit {
      height: 16px; } }
  .contact-submit:hover {
    background-color: #C3CAD9; }

footer {
  height: 20vh;
  padding: 1% 5%;
  background-color: #373B44;
  color: white; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    footer {
      height: 204.8px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    footer {
      height: 153.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    footer {
      height: 96px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    footer {
      height: 64px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    footer {
      height: 113.6px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    footer {
      height: 64px; } }
  footer a {
    color: white;
    text-decoration: none; }
  footer p {
    font-size: 0.5em; }
    footer p span {
      padding: 0 1%; }

/*# sourceMappingURL=stylesheet.css.map */
